.section-start {
  background: url("../../../../assets/start-background.webp") center center
    no-repeat;
  background-size: cover; /* Faz a imagem cobrir toda a largura e altura do elemento */
  width: 100%;
  height: 120vh;
  display: flex; /* Usa flexbox para centralizar o conteúdo */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Alinha horizontalmente ao centro */
}
.start-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.start-button .logo-background {
  width: 20rem;
  margin-bottom: -1rem;
}
.start-button h1 {
  font-family: "Lora", serif;
  font-size: 2.2rem;
  color: #72004b;
}
.start-button a {
  text-decoration: none;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #72004b;
  padding: 1rem;
}
@media (max-width: 768px) {
  .section-start {
    height: 80vh; /* Reduz a altura da seção em telas menores */
  }
  .start-button .logo-background {
    width: 15rem;
  }
  .start-button h1 {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }
  .start-button a {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .section-start {
    height: 70vh; /* Reduz ainda mais a altura da seção */
  }
  .start-button .logo-background {
    width: 15rem;
  }
  .start-button a {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}
