.cards-section {
  background: #f6f2e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  gap: 2rem;
}
.cards-section h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  color: #00b5a5;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);
  border-radius: 15px;

  padding: 1rem;
  gap: 1rem;
}
.card-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}
.card-article h3 {
  font-family: "Comfortaa", sans-serif;
  color: #00b5a5;
}
.card-article p {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  width: 15rem;
}
.card-article img {
  width: 18rem;
  height: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
  border-radius: 10px;
  transition: 0.4s ease;
  cursor: zoom-in;
}
.card-article img:hover {
  transform: scale(1.05);
}
.card-button {
  display: flex;
  text-decoration: none;
  font-family: "Comfortaa", sans-serif;
  color: #00b5a5;
  font-size: 1.3rem;
  transition: 0.4s ease;
}
.card-button:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .container-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .card-article img {
    width: 15rem;
  }
}
