.section-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.section-all h2 {
  font-family: "Comfortaa", sans-serif;
  color: #00b5a5;
  font-size: 2rem;
}
.container-services {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 colunas */
  grid-template-rows: repeat(2, 100px);
  gap: 2rem;
  row-gap: 12rem;
  justify-content: center;
  align-items: center;
  padding: 8rem 1rem;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 0.4s ease;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
}
.service-card:hover {
  transform: scale(1.1);
}
.service-card h3 {
  font-family: "Comfortaa", sans-serif;
  padding: 0.5rem;
  color: #71004a;
  font-size: 0.8rem;
}
.service-card .imgs {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}
.modal-content {
  background-color: #00b5a5;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  text-align: center;
  gap: 1rem;
}
.modal-content h2 {
  font-family: "Comfortaa", sans-serif;
  color: #71004a;
  font-size: 2rem;
}
.modal-content p {
  font-family: "Comfortaa", sans-serif;
  color: #71004a;
  text-align: center;
  background-color: #fff;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 2rem 5rem;
}
.modal-content a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  padding: 1rem;
  color: #71004a;
  width: 30%;
  background: #fff;
  transition: 0.4s ease;
}
.modal-content a:hover {
  background: #d3cece;
  transform: scale(1.05);
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", sans-serif;
  border: none;
  background: #000;
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 10px;
}

.container-imgs {
  padding: 1rem;
}
.container-imgs img {
  width: 30rem;
  height: 32rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
}
@media (max-width: 768px) {
  .section-all h2 {
    text-align: center;
    padding: 2rem 0;
  }
  .container-services {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }
  .service-card .imgs {
    width: 12.5rem;
  }
}
