.section-about {
  background: #f6f2e7;
  display: flex;

  gap: 1rem;
}
.img-about {
  display: flex;
  justify-content: flex-end;
  width: 50rem !important;
  margin-top: 7.3rem;
}
.article-about {
  display: flex;

  width: 45%;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  gap: 1rem;
}
.article-about h2 {
  font-family: "Playfair Display", serif;
  padding-left: 5rem;
  font-size: 2.5rem;
  color: #00b5a5;
}
.article-about p {
  font-family: "Montserrat", sans-serif;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7rem;
  padding-left: 5rem;
  color: #72004b;
}
.linha-container {
  padding-right: 10rem;
}
.linha-about {
  margin-left: -1rem;
}
@media (max-width: 768px) {
  .section-about {
    flex-direction: column-reverse;
    padding: 1rem 0;
  }
  .section-about .img-about {
    width: 20rem;
  }
  .article-about {
    align-items: center;
    padding: 0;
  }
  .article-about h2 {
    padding: 0;
  }
  .article-about p {
    font-size: 1rem;
    padding: 0;
    width: 20rem;
    text-align: center;
  }
  .article-about img {
    margin-top: -1rem;
  }
}
